PORT=5000
MONGODB_URI=mongodb+srv://ahmedhatemkhalil_db_user:Admin@123@cluster0.l7j93er.mongodb.net/careerforge
JWT_SECRET=your_super_secret_key_here
GEMINI_API_KEY=AIzaSyCvALUwkTwcwXdk4UzJA9PaaHMqoz87x-Y